/* NOTE: encabezado */
@font-face {
}
body{
font-family: "Dancing Script";
}

header{
color: white;
background: #5b7989;
border-radius: 10px 10px 0 0;
width: 100%;
overflow: hidden;
padding: 0;
margin: 0;

}

header h1{
  padding: 10px 10px;
  font-size: 50px;
  float: left;
  overflow: hidden;
  text-shadow: 2px 2px 2px  #02010a;
}

header nav{
float: right;
line-height: 50px;
padding: 50px;
}
header nav a{
  -webkit-display: inline-block;
  font-size: 20px;
  color: white;
  text-decoration: none
    -webkit-transition:all 50ms ease;
    -o-transition:all 50ms ease;
  transition:all 50ms ease;
  padding: 10px 10px;
}
header nav a:hover{
  background: #3334;
  border-radius: 10px;
}
.pagvisit{
  text-decoration: none;
}
@media (max-width:900px){
  header h1{
    text-align: center;
    width: 100%;
  }
  header nav{
    font-size: 40px;
    text-align: center;
    float: none;
  }
}
